.top_platform {
  background-color: var(--tile-background);
  border-radius: var(--tile-border-radius);
  padding: 1rem;
}

.top_platform > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.top_platform > div:first-of-type > p {
  font-size: 1.125rem;
  font-weight: 500;
}

.top_platform > div:first-of-type > button {
  font-size: 1.125rem;
  font-weight: 200;
  color: var(--primary-color);
  border: none;
  background-color: transparent;
}

@media (max-width: 1050px) {
  .top_platform {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (max-width: 480px) {
  .top_platform {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
