main {
  width: 94%;
  margin-left: auto;
  padding: 1rem;
  min-height: calc(100vh - 81px);
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 1rem;
}

@media (max-width: 1050px) {
  main {
    width: 90%;
  }
}
