aside {
  width: 6%;
  position: fixed;
  height: 100vh;
  border: 1px solid var(--border-color);
  background-color: var(--alternate-bg);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

aside > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

aside > section:first-of-type > div,
aside > section:last-of-type {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

aside > section button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button_parent {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme_btn {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_parent > svg {
  cursor: pointer;
}

.button_parent > span {
  min-width: 0.156rem;
  min-height: 100%;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

aside > section:last-of-type {
  margin-top: 0;
}

aside > section:first-of-type > div:last-of-type {
  background-color: var(--tile-background);
  width: 45%;
  border-radius: 1.5rem;
  padding: 0.25rem 0;
}

.selected_theme {
  background-color: var(--primary-color);
}

@media (max-width: 1050px) {
  aside {
    width: 10%;
  }

  aside > section:first-of-type > div,
  aside > section:last-of-type {
    gap: 1rem;
  }
}

@media (max-width: 850px) {
  aside > section:first-of-type > div,
  aside > section:last-of-type {
    gap: 1.5rem;
  }

  aside > section:first-of-type > div:last-of-type {
    width: 50%;
  }
}

@media (max-width: 480px) {
  aside {
    display: none;
  }
}
